#Custom XMP tags Namespace (MyFields)
%Image::ExifTool::UserDefined = (
	'Image::ExifTool::XMP::Main' => {
		MyFields => {
			SubDirectory => {
				TagTable => 'Image::ExifTool::UserDefined::MyFields',
			},
		},
	},
);

#Tags Table for MyFields
%Image::ExifTool::UserDefined::MyFields = (
	GROUPS => { 0 => 'XMP', 1 => 'MyFields', 2 => 'Image' },
    NAMESPACE => { 'MyFields' => 'MyFields' },
    WRITABLE => 'string',
	ID => { Writable => 'string', },	
	Test1 => { Writable => 'string', },	
	Test2 => { Writable => 'string', },	
	Test3 => { Writable => 'string', },	
	Test4 => { Writable => 'string', },	
	Test5 => { Writable => 'string', },
	Test6 => { Writable => 'string', },
	Test7 => { Writable => 'string', },
	Test8 => { Writable => 'string', },
	Test9 => { Writable => 'string', },
	Test10 => { Writable => 'string', },
	Test11 => { Writable => 'string', },
	Test12 => { Writable => 'string', },
	Test13 => { Writable => 'string', },
	Test14 => { Writable => 'string', },
	Test15 => { Writable => 'string', },
	Test16 => { Writable => 'string', },
	Test17 => { Writable => 'string', },
	Test18 => { Writable => 'string', },
	Test19 => { Writable => 'string', },
	Test20 => { Writable => 'string', },
	Test21 => { Writable => 'string', },
	Test22 => { Writable => 'string', },
	Test23 => { Writable => 'string', },
	Test24 => { Writable => 'string', },
	Test25 => { Writable => 'string', },
	Test26 => { Writable => 'string', },
	Test27 => { Writable => 'string', },
	Test28 => { Writable => 'string', },
	Test29 => { Writable => 'string', },
	Test30 => { Writable => 'string', },
	Test31 => { Writable => 'string', },
	Test32 => { Writable => 'string', },
	Test33 => { Writable => 'string', },
	Test34 => { Writable => 'string', },
	Test35 => { Writable => 'string', },
	Test36 => { Writable => 'string', },
	Test37 => { Writable => 'string', },
	Test38 => { Writable => 'string', },
	Test39 => { Writable => 'string', },
	Test40 => { Writable => 'string', },
	Test41 => { Writable => 'string', },
	Test42 => { Writable => 'string', },
	Test43 => { Writable => 'string', },
	Test44 => { Writable => 'string', },
	Test45 => { Writable => 'string', },
	Test46 => { Writable => 'string', },
	Test47 => { Writable => 'string', },
	Test48 => { Writable => 'string', },
	Test49 => { Writable => 'string', },
	Test50 => { Writable => 'string', },
	Test51 => { Writable => 'string', },
	Test52 => { Writable => 'string', },
	Test53 => { Writable => 'string', },
	Test54 => { Writable => 'string', },
	Test55 => { Writable => 'string', },
	Test56 => { Writable => 'string', },
	Test57 => { Writable => 'string', },
	Test58 => { Writable => 'string', },
	Test59 => { Writable => 'string', },
	Test60 => { Writable => 'string', },
	Test61 => { Writable => 'string', },
	Test62 => { Writable => 'string', },
	Test63 => { Writable => 'string', },
	Test64 => { Writable => 'string', },
	Test65 => { Writable => 'string', },
	Test66 => { Writable => 'string', },
	Test67 => { Writable => 'string', },
	Test68 => { Writable => 'string', },
	Test69 => { Writable => 'string', },
	Test70 => { Writable => 'string', },
	Test71 => { Writable => 'string', },
	Test72 => { Writable => 'string', },
	Test73 => { Writable => 'string', },
	Test74 => { Writable => 'string', },
	Test75 => { Writable => 'string', },
	Test76 => { Writable => 'string', },
	Test77 => { Writable => 'string', },
	Test78 => { Writable => 'string', },
	Test79 => { Writable => 'string', },
	Test80 => { Writable => 'string', },
	Test81 => { Writable => 'string', },
	Test82 => { Writable => 'string', },
	Test83 => { Writable => 'string', },
	Test84 => { Writable => 'string', },
	Test85 => { Writable => 'string', },
	Test86 => { Writable => 'string', },
	Test87 => { Writable => 'string', },
	Test88 => { Writable => 'string', },
	Test89 => { Writable => 'string', },
	Test90 => { Writable => 'string', },
	Test91 => { Writable => 'string', },
	Test92 => { Writable => 'string', },
	Test93 => { Writable => 'string', },
	Test94 => { Writable => 'string', },
	Test95 => { Writable => 'string', },
	Test96 => { Writable => 'string', },
	Test97 => { Writable => 'string', },
	Test98 => { Writable => 'string', },
	Test99 => { Writable => 'string', },
	Test100 => { Writable => 'string', },
);
1;